@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  font-family: 'Gill Sans', 'Helvetica', 'Arial', 'sans-serif';
  background: white;
  margin: 0;
  width: 100%;
}

#title {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

}

#title h1 {
  font-family:'Audiowide', 'Optima', 'Helvetica', 'Arial', 'sans-serif';
  font-size:4em; 
  margin-top: 15px;
  margin-bottom:0px;
  
}

.titleBubble {
  -webkit-border-radius:20em;
  -moz-border-radius:20em;
  border-radius:20em;
  padding: 0 20px;

  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
  background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);

  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
}

#title h2 {
  font-size:1.7em;
  font-weight:600;
  margin-top:0;
  margin-bottom:0;
}
#title h3, #title h4 {
  font-weight:600;
  margin-top:0;
  margin-bottom:0;
}

#introText {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

#introText p {
  text-align:justify;
  margin-bottom:15px; 
  font-size:20px;
}

a {
  color: gray;
}

pre {
  margin-left: 30px;
}

.mapInLesson {
  color: rgb(253, 46, 46);
}

.foldInLesson {
  color: blue;
}

.foldlInLesson {
  color: green;
}

.foldrInLesson {
  color: rgb(255, 100, 224);
}

#mapLesson {
  font-size: 1em;
}

.lesson-highlight {
   background: rgb(228, 246, 255);
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: 'Source Code Pro', monospace;
  font-size:20px;
  padding-bottom: 1em;
  margin: 1em 0;
  border: 1px solid;
  border-right: none;
  border-left: none;
  text-align: center;
  min-height: 100px;
}

#mapLines .lines, 
#mapLines .lines-edit, 
#mapLines .line-editing-container {
  border-color: rgb(253, 46, 46);
}

#foldrLines .lines, 
#foldrLines .lines-edit,
#foldrLines .line-editing-container {
  border-color: rgb(255, 100, 224);
}

#foldlLines .lines, 
#foldlLines .lines-edit,
#foldlLines .line-editing-container {
  border-color: green;
}

.lines-edit-options {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.lines-edit-options .lines-edit:first-child{
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

.lines-edit-options .lines-edit:last-child {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid;
}

.lines-edit {
  display: inline-block;
  font-size: 1em;
  color: #777;
  cursor: pointer;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: none;
  padding: 4px;
  
}



.line.span {
  font-size: 23px;
}

.line-highlight {
  background: #fee;
}
.line-inner {
  margin-top:20px;
  -webkit-transform: translate3D(0,0,0);
}
.line-context {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #777;
  background: #fee;
  white-space: pre-line;
  padding: 0 5px;
}

.application {

  border: 1px solid white;
  padding: 5px;
  display: inline-block;
  width:auto;

  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  border-radius: 20em;
  
  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
  background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);

  -webkit-backface-visibility: hidden;

  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
 }

.application-applicable:hover {
  background: #fcc;
  cursor: pointer;
}

.application-highlight-clicked-computation,
.node-highlight-just-computed {
  background: #fcc;
}

.bubble-animation-enter {
  display:inline-block;
  font-size: 0;
  padding: 0;
  border-width: 0;
  -webkit-backface-visibility: hidden;
  transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transform-style: preserve-3d;
  transition:  all 0.3s;
  -webkit-transition:  all 0.3s;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.bubble-animation-enter-active {
  display:inline-block;
  font-size: 1em;
  padding: 5px;
  border-width: 1px;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transform-style: preserve-3d;
}
.bubble-animation-leave {
  opacity: 1;
  display:inline-block;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition:  all 0.2s;
  -webkit-transition: all 0.2s;
  -webkit-transform-style: preserve-3d;
}

.bubble-animation-leave-active {
  opacity: 0;
  display:inline-block;
  -webkit-backface-visibility: hidden;
  transform: scale(2);
  -webkit-transform: scale(2);
  -webkit-transform-style: preserve-3d;
}

.line-editing-container {
  width: 50%;
  border: 1px solid;
  padding: 5px;
  margin: 30px auto 0;
  vertical-align: middle;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.line-edit-input {
  width: 100%;
  text-align:center;
}

.line-editing-error {
  position: absolute;
  top: 1.5em;
  background: #fcc;
}

input {
  margin: 0;
  padding: 0;
  font: 1em monospace;
  border: none;
  outline: none;
  background: none;
}
input.input-error {
  outline: 1px solid red;
}

.help-text {
  font: 0.7em Helvetica, sans-serif;
  margin-top: 0.5em;
  color: #777;
  width: 175px;
  text-align: center;
}

#function-editor {
  max-width: 500px;
  margin: 0 auto;
}

#function-editor::before {
  content:"";
  background: dodgerblue;
  display:block;
  margin: 0 auto;
  height: 40px;
  width: 100px;
}

.function-editor-container {
  padding: 10px 20px 20px;
  border: 2px solid pink;
  background: pink;

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.function-editor-link {
  color: #777;
  cursor: pointer;
  font: 1em monospace;
  padding-left: 10px;
}

.function-editor-title {
  color:rgb(149, 105, 196);
  font-weight:bold;
}

.function-editor-title-big{
  font-size: 1.3em;
}

.function-editor-top {
  font-family:'Audiowide', 'Optima', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}

.function-editor {
  box-shadow: 0 0 1.5px #777;
  font: 1em monospace;
  border: 1px solid #ccc;
  width: 100%;
  min-height:500px;
  padding: 10px;
  white-space: nowrap;
  resize:none;
}

.function-editor:focus {
 box-shadow: 0 0 4px #007AFF;
 outline:none;
}

.function-editor-error {
  outline: 1px solid red !important;
}

.function-editor-error-message {
  position: absolute;
  left: -5px;
  margin-top: 40px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #fcc;
  font: 1em monospace;
  padding: 5px;
}
